* {
    margin: 0;
    max-width: auto;
    max-height: 100vh;
}

.img-slider-elem img {
    max-width: 800px;
    max-height: 600px;
}

/*
.header {}

body {}

.slider-box {}

.img-slider-elem {}

.img-1 {}

.img-2 {}

.img-3 {}

.progBtn {}