* {
    margin: 0;
    max-width: auto;
    max-height: auto;
    box-sizing: border-box;
}

/*
font-family: "Julius Sans One", sans-serif;
font-family: 'Source Code Pro', monospace;
*/
body {
    background-color:tan;
}

.quotes {
    background-color: bisque;
    border: #000000 1px solid;
    text-align: center;
    justify-content: space-evenly;
    font-size: larger;
    font-weight: bolder;
    font-family: "Julius Sans One", sans-serif;
}

.quotes h3{
  font-family: 'Source Code Pro', monospace;
}

.slider-H2{
  font-family: 'Source Code Pro', monospace;
}

/* Slideshow container */
.img-slider-elem {
    max-width: 1000px;
    height: 600px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.img-sliders {
    display: none;
    max-width: 1000px;
    max-height: fit-content;
}

.img-1 {
    width: 100%;
    border: rgb(0, 0, 0) solid 2px;
}
.img-2 {
    width: 100%;
    border: rgb(0, 0, 0) solid 2px;
}
.img-3 {
    width: 100%;
    border: rgb(0, 0, 0) solid 2px;
}

.slider-text{
    padding: 20px;
    background-color: beige;
    font-family: 'Julius Sans One', sans-serif;
}

.slider-fn{
  font-family: 'Julius Sans One', sans-serif;
  background-color: beige;
  padding: 5px;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 65%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  /* Caption text */
  .text {
    color: #000000;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

/* Number text (1/3 etc) */
  .numberText {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    bottom: 0;
  }

  
  .dot {
    position: top;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }






/*
.img-slider-1 {}

.img-slider-2 {}

.img-slider-3 {}


.header {}





.img-slider-elem {}
